@page
@model Mission9_pthoma24.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>

